* {
  border: none;
  font-size: 14px;
  font-family: "JetBrainsMono Nerd Font", "JetBrainsMono NF";
  min-height: 25px;
}

window#waybar {
  background: transparent;
  margin: 5px;
}

#custom-logo {
  padding: 0 10px;
}

.modules-right {
  margin: 0px 15px;
  border-radius: 15px 15px 15px 15px;
  margin-top: 8px;
  background: ${background};
}

.modules-center {
  padding: 0 15px;
  margin-top: 8px;
  border-radius: 15px 15px 15px 15px;
  background: ${background};
}

.modules-left {
  margin: 0px 15px;
  border-radius: 15px 15px 15px 15px;
  margin-top: 8px;
  background: ${background};
}

#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#workspaces,
#clock {
  padding: 0 5px;
}

#pulseaudio {
  padding-top: 3px;
}

#temperature.critical,
#pulseaudio.muted {
  color: ${color1}; /* red */
  padding-top: 0;
}

#clock {
  color: ${accent}; /* bright blue */
}

#battery.charging {
  color: ${foreground};
  background-color: ${color2}; /* green */
}

#battery.warning:not(.charging) {
  background-color: ${color3}; /* yellow */
  color: ${background};        /* dark bg for contrast */
}

#battery.critical:not(.charging) {
  background-color: ${color1}; /* red */
  color: ${foreground};
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: ${foreground};
    color: ${background};
  }
}

